/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.wday0 {
	color: #fa0;
}
.wday1 {
	color: #aaf;
}
.wday2 {
	color: #f4a;
}
.wday3 {
	color: #0af;
}
.wday4 {
	color: #c00;
}
.wday5 {
	color: #800;
}
.wday6 {
	color: #aaf;
}
